{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'landing.css' %}">

</head>
<body>


    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="title">The Store will soon open</h1>
                    <h1 class="title">Please register and leave your email</h1>
                    <div>
                        <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                            <label>Your Name:</label>
                             <div class="form-group">
                                 <input type="text" name="{{ form.subscriber_name.name }}" class="form-control">
                             </div>
                            <label>Your Email:</label>
                             <div class="form-group">
                                 <input type="text" name="{{ form.subscriber_email.name }}" class="form-control">
                             </div>
                            <button type="submit" class="btn btn-primary orange-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- source for this page: http://azmind.com/premium/marco/v2-3/layout-15/index.html -->