{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom styles -->
    <!-- <link rel="stylesheet" href="{%  static 'style.css' %}"> -->

    <style>
        html, body{
            height: 100%;
            max-height: 100%;
        }

        .top-container{
            margin-top: 10%;
        }
    </style>
</head>
<body>


    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="title">The Store will soon open</h1>
                    <h1 class="title">Please register and leave your email</h1>
                    <div>
                        <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                            <label>Your Name: </label>
                             <div class="form-group">
                                 {{ form.subscriber_name }}
                             </div>
                            <label>Your Email: </label>
                             <div class="form-group">
                                 {{ form.subscriber_email }}
                             </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>