<div class="col-lg-3">
    <div class="product-item">
        <div>
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" class="img-responsive">
            </a>
        </div>
        <h4>{{ product_image.product.product_name }}</h4>
        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>{{ product_image.product.discount }}%</span>
            </div>
        {% endif %}
        <p>
            {{ product_image.product.description|truncatechars_html:60 }}
        </p>
        <div>
            {{ product_image.product.product_price }} USD
        </div>
        <div class="add-to-cart-btn">
            <button class="btn btn-success">
                Add to cart
            </button>
        </div>
    </div>
</div>